html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 200px;
  margin: auto;
  height: 200px;
  font-size: 1rem;
  background-color: red;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;